<include file="Common:head" />
<block name="main">
        <div class="main-wrap">

                <div class="crumb-wrap">
                    <div class="crumb-list"><i class="icon-font"></i><a href="{:U('index/admin_index')}">首页</a><span class="crumb-step">&gt;</span><span>修改信息</span></div>
                </div>
                <div class="result-wrap">
                    <div class="result-content">
                        <form action="{:U('user/update',array('id'=>$users['id']))}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                            <table class="insert-tab" width="100%">
                                <tbody>
                                    <tr>
                                        <th>登陆名：</th>
                                        <td>
                                            <input class="common-text required" name="login_name" size="50" value="{$users.login_name}" type="text" placeholder="请输入新登陆名" disabled="disabled" style="background:#CCCCCC">&nbsp;&nbsp;&nbsp;<i class="require-red">*</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>会员昵称：</th>
                                        <td>
                                            <input class="common-text" name="user_name" size="50" value="{$users.user_name}" type="text" placeholder="请输入新会员昵称">&nbsp;&nbsp;&nbsp;<i class="require-red">*</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>密&nbsp;&nbsp;&nbsp;&nbsp;码：</th>
                                        <td>
                                            <input class="common-text required" name="password" size="50" value="" type="password" placeholder="请输入新密码">&nbsp;&nbsp;&nbsp;<i class="require-red">*</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>确认密码：</th>
                                        <td>
                                            <input class="common-text required" name="repassword" size="50" value="" type="password" placeholder="请确认新密码">&nbsp;&nbsp;&nbsp;<i class="require-red">*</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</th>
                                        <td>
                                            <input class="common-text" name="email" size="50" value="{$users.email}" type="email" placeholder="请输入新邮箱">&nbsp;&nbsp;&nbsp;<i class="require-red">*</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>手机号：</th>
                                        <td>
                                            <input class="common-text" name="mobile" size="50" value="{$users.mobile}" type="tel" placeholder="请输入新手机号">&nbsp;&nbsp;&nbsp;<i class="require-red">*</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>会员类型：</th>
                                        <td>
                                            <!-- <input class="common-text" name="mobile" size="50" value="" type="tel" placeholder="请输入手机号">&nbsp;&nbsp;&nbsp;<i class="require-red">*</i> -->
                                            <input type="radio" name="user_type" value="" <if condition="$users.type eq 0">checked</if>>企业　　　
                                            <input type="radio" name="user_type" value="" <if condition="$users.type eq 1">checked</if>>个人　　　
                                            <input type="radio" name="user_type" value="" <if condition="$users.type eq 2">checked</if>>车队　　　
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                            <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
        
            </div>
</block>