


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            font-size: 13px;
            font-family: '微软雅黑';
            line-height: 2em;
            padding: 0 10px;
        }
    </style>
    <script>
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $('#closeIframe').click(function () {
            parent.layer.close(index);
        });
        $("#aa").click(function () {
            alert(2);
        });
    </script>
</head>
<body>
    特别提示
    <p>1.	本协议由广州悦行旅行社有限公司（运来出行网 www. 5BUS.CN）制定公布并予以实施。 </p>
    <p>2.	客户在进行网站申请注册时应完整、仔细地阅读本协议，客户完成用户注册将被视为完全理解并接受以下全部条款。 鉴于除客户之外的其他第三方已经对本协议内容予以确认，在客户以本协议约定的任意一种方式提出预定用车服务申请并完成付款（付款方式包括实际支付以及授信客户在信用额度内的透支支付），本协议即在各方之间发生效力。  </p>
    <p>3.	各相关方接受本协议条款之约定，即视为接受中华人民共和国法律法规的管辖规定并认可中华人民共和国相关政府机关、司法部门做出的裁定书、判决书、决定等法律文书的效力。  </p>
    <p>4.	本协议自公布之日起开始执行。对本协议执行前发生的各方法律关系，由各方具体协商解决。对本协议执行后发生的各方法律关系，按照本协议之约定执行。本协议如有修改，则各方直接适用修改后的协议，除非各方一致同意按照原协议约定执行。  </p>
    <p>5.	本协议未作约定事项之补充及对本协议具体条款之解释，由运来出行网负责。  </p>
    <b>本运来出行网三方服务协议于2015年5月制定并公布，并不时修订且公示，由以下各方共同信守： </b><br />
    <p>甲方：与乙方签订预约用车代理服务合同（以下简称“预约合同”），且在乙方运来出行网成功注册并完成用车预约的企业或个人用户。</p>
    <p>乙 方：广州悦行旅行社有限公司有限公司。遵照中华人民共和国法律法规注册，提供预约用车代理服务的有限公司。</p>
    <p>丙 方：汽车租赁公司。遵照中华人民共和国法律法规注册，提供汽车租赁服务，与乙方签订汽车租赁服务合作协议（以 下简称“租车协议”）的汽车租赁公司。</p>

    <p>本三方协议中：</p>
    <p>“运来出行网”，乙方旗下的，利用先进信息集散技术构建的专业用车信息服务平台，致力于为客户提供高效、便 捷、高品质的预约用车代理服务。</p>
    
    <p>“租车服务”，丙方提供的，按照乙方生成的订单为甲方提供指定租用车辆的服务。</p>
    <p> “专乘约租车服务”，以乙方“预约服务”为主导，整合丙方“租车服务”信息，为甲方提供的用车服务。</p>
    <p>“用车信息服务平台”，乙方根据甲方预约用车要求记录预约内容的计算机系统平台，乙方利用该平台生成甲方的预约订单，甲方可登录该平台查询用车记录和消费记录。</p>
    <p>“共享加盟”，乙方利用专业用车信息服务平台接受甲方用车需求，通过加盟形式整合丙方的车辆资源与驾驶员资源为甲方提供用车服务的共享信息、统一服务的商业服务模式。</p>
    <p>“订单”，乙方用车信息服务平台提供的，登记甲方用车具体信息的电子订单，丙方按照电子订单要求提供指定车型和驾驶人员。
    <p>“信用额度”，乙方授予甲方的，用以在结算前暂时抵预约用车服务费用、过路费、过桥费或其他甲方应向乙方支付的费用的额度，甲方仍应按照本协议约定的结算规则向乙方支付相应费用。</p>
    <p>“预约用车服务费用”，简称“服务费用”，乙方按照甲方的用车要求计算得出的，包括乙方预约服务信息费、丙方汽车租赁费和劳务服务费及其他临时性费用的总费用。</p>
    <p>“预存用车服务费用”，甲方提交预约申请后，向乙方预先支付以完成预约用车的费用。</p>
    <p>运来出行服务</p>
    <p>
        运来出行网基于互联网、移动互联网技术以“共享加盟+服务平台”的全新商业模式联合汽车租赁公司共同为企业和个人客户提供专乘约租车服务。
        专业的预约用车信息服务平台：运来出行网利用先进的信息集散技术，构建了专业预约用车信息服务平台，致力于为客户提供高效、便捷、高品质的预约用车代理服务。
    </p>
    <p>
        快速、灵活的车辆实时调度：运来出行网通过车辆实时调度系统，通过装载移动互联终端，即以整合数以千计的丙方车辆，全天候24小时掌握车辆位置、状态信息，并实时调度车辆为用户提供高端专业、快速响应、灵活自主的专乘约租车服务。
        高度一致的服务整合系统：运来出行网通过车辆智能匹配系统，统一接受预订、调度派遣、系统计费，实现高度一致性的服务质量。
    </p>
    <p>用户注册</p>
    <p>•	甲方登录运来出行网（www. 5BUS.CN），按照网站注册规则进行注册并设定用户名及密码。该用户名及密码为甲方通过预约用车信息服务平台系统预订用车服务的唯一有效身份证明。</p>
    <p>•	甲方应保证在运来出行网注册过程中预留的电话、传真、电子邮箱等联系方式真实有效，如需变更相应信息，应及时通知乙方办理。 </p>
    <p>•	甲方通过其在运来出行网预留的联系方式向乙方发出的任何预约用车请求，乙方均视为甲方的真实意思表示，构成对甲方有约束力的要约。 </p>
    <p>•	甲方注册成功后应妥善保管用户名及密码，不得将其转让或出借于他人使用；如甲方发现其用户名及密码遭他人非法使用，应当立即通知乙方以避免不必要的损失。因遭受网络攻击，甲方保管疏忽、转让出借、怠于通知等行为或其他非因乙方原因导致甲方受到的损失，乙方不承担任何责任。 </p>
    <p>•	甲方注册成功后，如无特殊约定，则视为甲方允许乙方通过短信、电子邮件或其他方式向其发送订单服务信息、优惠服务信息及其他相关服务信息。 </p>
    <p>用车预约</p>
    <p>甲方完成注册后可在乙方工作时间内、最小预订时间前通过：①客户专线：18922378000车队专线：189-2955-8000客服电话；②与运来出行网指定联络人联系；③运来出行网（网站www. 5BUS.CN）在线订车服务系统；④乙方认可的其他方式向乙方发出预约用车申请并满足本协议支付结算条款时，乙方按照甲方的预约信息为甲方联系丙方为甲方调度服务用车和安排驾驶人员，按照甲方指定的用车时间、用车地点提供用车服务。</p>
    <p>1.	预约方式 </p>
    <p>o	电话预约 </p>
    	拨打乙方客服电话客户专线：18922378000车队专线：18922202070预约用车服务。
    	甲方应在运来出行网企业账户中预留其授权预约人员的个人信息和联系方式，该人员应使用预留电话预约用车服务。
    	非甲方预留预约人员发出的电话预约，乙方将不予受理。 </p>
    <p>o	网上预约 </p>
    <p>	登录运来出行网（网站www. 5BUS.CN）在线订车服务系统预约用车服务。 </p>
    
    <p>
        	甲方使用其在运来出行网注册的用户名及密码登录后，选择接机、送机、时租等预约服务，按照提示输入预约信息完毕后提交预约订单。
        	预约信息中必须包含甲方在运来出行网注册账户信息中预留的真实有效的联系电话。
    </p>
    	<p>乙方客服人员将电话联系甲方，以完成预约。 </p>
    <p>1.	甲方应当按照乙方的要求提供预约信息，甲方提供的全部预约信息作为一个整体构成一个订单。 </p>
    <p>
        2.	甲方按照上述预约方式完成预约，并满足本协议支付结算条款时，乙方将应订车人要求以短信方式将如下信息发至订车人指定人员手机。
        费用构成
    </p>
    <p>1.	乙方向甲方收取的服务费用包括： </p>
    <p>o	乙方预约服务信息费； </p>
    <p>o	丙方劳务服务费和车辆租赁费； </p>
    <p>o	甲方接受服务过程中发生的高速路收费、停车费等其他临时费用。 </p>
    <p>2.	服务费用的收取标准详见乙方官方网站www. 5BUS.CN或致电客户专线：18922378000车队专线：18929558000。 </p>
    <p>支付结算</p>
    <p>1.	甲方可采用经乙方确认的下列方式之一完成支付结算： </p>
    <p>o	甲方通过注册成为运来出行网（www.5BUS.CN）正式用户后，可以向乙方指定账户内直接存入一定数额的资金，作为甲方今后接受服务时的消费资金，不需每次单独交纳任何费用。甲方说明开票要求，乙方开具相应的发票。 </p>
    <p>o	甲方通过注册成为运来出行网（www.5BUS.CN）正式用户后，通过双方协议，乙方将在甲方用户账户内设定一定的信用额度，作为甲方今后接受服务时的消费资金，不需每次单独交纳任何费用。乙方在每月的5日（遇节假日顺延）与甲方进行明细对帐，甲方签字或邮件确认；甲方说明开票要求，乙方开具相应的发票。 </p>
    <p>o	甲方通过注册成为运来出行网（www.5BUS.CN）正式用户后，向乙方提供信用卡相关信息，并授权甲方在服务结束后根据实际费用直接在指定信用卡账户扣款;甲方说明开票要求，乙方开具相应的发票。 </p>
    <p>2.	乙方将在专乘约租车服务结束后完成临时费用和可能产生的其他应付金额的结算。 </p>
    <p>3.	乙方在运来出行网提供订单管理功能，甲方可以随时登录网站查询订单情况及预存用车服务费用使用情况。 </p>
    <p>4.	乙方在甲方每次接受服务后向甲方发送结算金额，甲方如有异议应在用车服务完成后2小时内通知乙方，乙方负责对甲方提出的异议进行解释和处理。 </p>
    <p>5.	如甲方账户内剩余金额不足以支付最低用车消费额的，经乙方通知后，甲方需及时为账户充值；如未及时充值，则乙方不提供该次预约用车代理服务。</p>
    <p>6.	乙方与丙方的汽车租赁费与劳务服务费的结算由乙方与丙方另行约定，甲方在此确认无任何异议且不得干预。因甲方实际用车时违约而需向乙方或第三方公司支付的违约赔偿，亦由乙方按照本协议的约定向甲方收取或处理解决。 </p>
    <p>各方权利义务</p>
    <p>各方均应依照本协议的规定履行各自的权利义务，本协议未尽事宜由各方分别签订协议另行约定。</p>
    <p>风险分担</p>
    <p>1.	甲方发生的风险 </p>
    <p>o	甲方变更、取消订单的： 按计费规则中的“订单变更”执行。 </p>
    <p>o	甲方污损、损坏车辆的： 甲方在接受服务过程中如污损、损坏车辆的，因甲方的行为造成车辆受到损坏的，由丙方直接向甲方主张权利，乙方不承担责任。 </p>
    <p>o	甲方侮辱、伤害驾驶员的： 如甲方在接受驾驶员服务过程中无故侮辱、伤害驾驶员，或其他因甲方的行为造成驾驶员受到人身损伤的，由甲方向丁方承担法律责任，乙方不负任何责任。 </p>
    <p>o	甲方妨碍车辆安全行驶的： 甲方在接受服务过程中以任何方式妨碍车辆安全行驶的，对该行为造成的驾驶员或车辆损害，由甲方承担法律责任，如第三方公司因此发生任何损失，应直接向甲方主张权利，乙方不承担责任。 </p>
    <p>o	甲方妨碍驾驶员安全驾驶的： 如甲方在接受驾驶员服务过程中以任何方式妨碍驾驶员安全驾驶的，对该行为造成的驾驶员或车辆损害，由甲方承担法律责任，乙方不负任何责任。 </p>
    <p>o	甲方利用驾驶员或者车辆从事违法犯罪活动的： 甲方在接受驾驶员服务过程中利用驾驶员从事违法犯罪活动的，丙方人员如确不知情，乙、丙方不负任何责任；丙方人员如知情，则丙方应承担相应的法律责任，乙方不负任何责任。 </p>
    <p>o	其他行为： 甲方在接受服务过程中发生其他如遗留财物、强令违章等行为事件的，由丙负责处理解决，乙方提供必要的协调帮助。 </p>
    <p>2.	外部风险 </p>
    <p>o	交通违章违法 在提供服务过程中因违反交通法规或其他法律规定而受到国家有关部门处罚或处理的，应由丙方自行承担相应责任。 </p>
    <p>o	交通事故 发生道路交通事故导致车辆或者人员（包括司机和乘员）遭受损害的，丙方应首先使用车辆保险赔偿甲方的各项人身或财产损失；对于因车辆安全使用性能或者驾驶操作出现问题而发生的事故或意外，丙方应负责处理并承担全部责任。 </p>
    <p>o	违法犯罪活动 在提供车辆服务过程中，如果遭遇抢劫、盗窃、破坏等违法犯罪行为导致车辆和人员（包括司机和乘员）受到人身或财产损害的，乙、丙方均不承担任何责任。 </p>
    <p>o	交通瘫痪、堵车 如发生道路交通瘫痪、拥堵等情况时，如能完成客户的最终要求，丙方公司应根据实际情况采取必要措施完成该订单；如不能完成甲方的最终要求，丙方公司有过错的，由丙方公司根据过错程度对甲方的损失承担相应的赔偿责任。乙方不承担任何责任。 </p>
    <p>o	意外事件 如遭遇其他意外事件影响、延误、妨碍丁方的驾驶人员完成驾驶服务的，乙、丙方应根据实际情况协商解决 。</p>
    <p>3.	乙方造成的风险 </p>
    <p>o	工作人员： 因乙方工作人员的操作失误或疏忽导致订单信息错误的，由此造成的损失由乙方负责承担。</p>
    <p>o	信息系统： 如果乙方租车信息服务系统发生人为故障从而不能有效收取服务费用，而丙方公司已经按照甲方的指令完成服务并未产生投诉的，乙方应按照订单产生的实际汽车租赁费和劳务服务费向第三方公司支付。</p>
    <p>4.	丙方造成的风险 </p>
    <p>o	未提供合格驾驶人员的： 丙方未提供合格驾驶人员的，对发生的一切事故责任均由丙方独自承担。 </p>
    <p>o	驾驶人员未按订单要求提供服务的： 丙方驾驶人员未按订单指定时间到达指定地点的，甲方拒绝或取消驾驶服务的，由丙方承担相应的法律责任。 </p>
    <p>o	驾驶人员经验不足的： 丙方驾驶人员因道路、车辆、交通等方面经验不足而影响、延误甲方不能按时到达指定地点的，由此造成的损失由丙方独自承担。 </p>
    <p>o	其他丙方原因造成的： 其他一切因丙方工作人员或驾驶人员的原因发生的事件或事故，均由丙方独自承担相应的法律责任。
    <p>o	未按指定订单提供车辆： 丁方未提供订单指定车型，甲方拒绝接受服务的，责任由丙方独自承担。如造成甲方任何损失的，丙方应予以全额赔偿。 </p>
    <p>o	车辆车况： 丙方未提供符合标准的车辆，甲方拒绝接受服务的，责任由丙方独自承担。如造成甲方任何损失的，丙方应予以全额赔偿。 </p>
    <p>o	车辆资质： 丙方提供的车辆，缺乏合法资质或保险的，受到执法机关处罚或给甲方、第三人造成损失的，丙方应承担全部责任。 </p>
    <p>o	丙方因其他原因造成的风险： 其他一切因丙方工作人员或车辆的原因发生的事件或事故，均由丙方独自承担相应的法律责任。 </p>
    <p>5.	甲方的其他损失 对甲方因在接受第三方公司提供的用车服务过程中遭遇的其他间接损失或可预期损失，乙丙方均不负任何责任。 </p>
    <p>6.	先行赔付的补偿 如前述风险发生后，依据前述约定不应承担责任的一方基于与甲方的约定而先行予以甲方或丙方赔偿，或因法律、法规规定或法院、仲裁机关、行政机关的裁决被要求与另一方承担连带赔偿责任的，在作出赔偿后有权向按本协议约定应承担责任的另一方追偿。 </p>
    <p>7.	丙方在接受订单后不得变更、取消订单。如第三方公司变更或取消订单，应及时通知乙方，并按订单违约责任支付违约金，乙方将安排其他第三方公司为甲方提供服务。 </p>
    <p>质量监控</p>
    <p>1.	丙方公司未能按照指定时间到达指定地点提供用车服务的，甲方应及时联系乙方，乙方负责及时协调解决，并承担甲方换乘的合理费用。 </p>
    <p>2.	乙方将积极协调甲方和丙方公司处理用车服务过程中的纠纷和争议。争议未有效解决前，乙方承诺将为保护甲方的合法权益而采取合理措施处理善后事宜。 </p>
    <p>投诉处置</p>
    <p>1.	乙方应从客户感受出发，快速有效的处理客户意见。 </p>
    <p>2.	丙方公司应设置投诉处理岗位，负责和乙方联系处理相关投诉。乙方原则上只和丙方公司的投诉处理人接洽。 </p>
    <p>3.	乙方经网站和电话两种渠道收集客户的投诉信息。在收到投诉之后，乙方应在24小时 内通过与甲方和丙方公司充分沟通, 辅以测听电话录音和检查车载终端的记录的方式, 做出初步调查报告。乙方将甲方投诉信息和初步调查报告发送至丙方公司，丙方公司必须在48小时之内进行确认。 </p>
    <p>4.	乙方将制定投诉率指标并定期公布，投诉率将作为衡量丙方公司工作质量的重要指标，纳入到对乙方的整体评价之中。 </p>
    <p>
        5.	对丙方车况或者驾驶服务提出的投诉，并拒绝交纳服务费用的，乙丙双方应共同承担该风险，即乙方不收取预约服务信息费，丙方不收取劳务费和汽车租赁费。丙方车况是指，乙方所提供车辆的安全性能、行驶性能、卫生条件、舒适程度等方面的基本车辆情况；驾驶服务是指，丙方所提供人员的服务用语、服务礼仪、服务品质、服务态度等方面的基本服务情况。
        特别声明
    </p>
    <p>1.	甲方确认并知悉，乙方仅为用车信息提供方，并不实际承担或代理丙方承担的甲方预订申请中的承运责任。 </p>
    <p>2.	经丙方确认后的订单将被视为甲方与丙达成驾驶服务协议和汽车租赁协议，乙方通知甲方预约成功的信息到达甲方时，乙方协助甲方、丙方达成用车服务协议的中介信息服务被视为已完成；上述服务协议在乙方收到甲方按照预约订单载明的费用时立即生效。
    <p>3.	各方确认，乙方并不构成为甲方提供实际运输服务的一方，对甲方在接受运输服务过程中所发生的一切法律纠纷仅负有协助、配合义务，并对在上述协议履行过程中可能造成的直接损失和间接损失不承担任何责任。 </p>
    <p>4.	为明确甲方、丙方在承运服务过程中的权利义务，各方共同约定如下： </p>
    <p>o	甲方在用车服务过程应当遵守下列规定： </p>
    	文明乘车，不得损坏车内设施，维护车内清洁卫生；
    	不向驾驶员提出违反出租汽车管理、道路交通管理、治安管理的要求；
    	不在车内进行违法活动。 </p>
    <p>o	乙方应当积极协助服务，并确保服务的准确性和及时性。 </p>
    <p>o	丙方应当保证驾驶员在服务时遵守下列规定： </p>
    	文明乘车，不得损坏车内设施，维护车内清洁卫生；
    	安全行车，遵守交通管理法规；
    	乘客遗失在车内的物品，应当及时归还失主或者交有关部门处理，不得私自隐匿；
    	不得将调配的车辆交予他人驾驶；
    	不得利用车辆为违法犯罪提供方便，发现违法犯罪嫌疑人应当及时向公安机关或者本单位报告；
    	禁止运载违禁和易燃、易爆等物品；
    	接受市交通行政主管部门和有关管理机关的监督检查。 </p>
    <p>5.	鉴于网络服务的特殊性，甲、丙方授权乙方可在以下情形发生时随时变更、中断或终止部分或全部的网络服务：
    <p>6.	若乙、丙方对本协议作出任何修改，将由乙方及时将修订后的协议在用车网上及时公示。该等公示即视为对甲方进行了通知。甲方如果不同意乙、丙方对本协议相关条款所做的修改，甲方有权停止使用用车网网络服务。如果甲方继续使用用车网网络服务，则视为甲方接受乙、丙方对本协议相关条款所做的修改。 </p>
    <p>7.	本协议项下乙方对于甲方所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；乙方可任意选择其中一种方式通知甲方，该通知于发送之日视为已送达甲方，甲方知悉并接受通知之内容。 </p>
    <p>8.	甲方如有任何事宜需通知乙方，应当通过乙方对外正式公布的通信地址、传真号码、电子邮件地址等联系方式进行联系及送达。 </p>
    <p>9.	本协议履行过程中发生的争议，三方应友好协商解决，无法协商解决的，三方一致同意将争议提交乙方所在地人民法院诉讼解决。 </p>
    <p>10.	甲方、乙方、丙方可达成补充协议对本协议作出特别约定，未达成补充协议的以本协议约定为准。 </p>
    甲方、乙方、丙方在此确认并声明，其已认真阅读以上协议内容并充分理解其含义，并同意本协议中之内容约定。</p>
    并进一步同意，甲方向乙方提交预约用车申请并完成预订付款时即视为各方接受本协议的约束。</p>
    <p>广州悦行旅行社有限公司</p>
    运来出行网三方协议
    之违约责任暂行规定
    <p>
        甲方：与乙方签订预约用车代理服务合同（以下简称“预约合同”），且在乙方运来出行网成功注册并完成用车预约的企业或个人用户。
        乙 方：广州悦行旅行社有限公司有限公司。遵照中华人民共和国法律法规注册，提供预约用车代理服务的有限公司。
        丙 方：汽车租赁公司。遵照中华人民共和国法律法规注册，提供汽车租赁服务，与乙方签订汽车租赁服务合作协议（以 下简称“租车协议”）的汽车租赁公司。
    </p>

    <p>本着规范运作、互惠互利的原则，为甲、丙方双方在乙方运来出行网上的用车安全和接待质量，现根据《中华人民共和国合同法》及相关法律法规以及政府主管部门的要求，经三方平等协商，就用车过程中发生的违约事项达成如下协议：
    <p>    1、甲方如取消用车，应至少提前24小时书面通知乙、丙双方(假日黄金周及旅游旺季通知时间适当延长)，并应当支付约定车费10％违约金给丙方；甲方如取消用车，提前15-24小时书面通知乙、丙双方的，应当支付约定车费30％违约金给丙方；甲方如取消用车，在15小时内书面通知乙、丙双方的，应当支付约定车费50％违约金给丙方。</p>
    <p>2、丙方如不能按照约定提供车辆，应至少提前24小时书面通知甲、乙双方(假日黄金周及旅游旺季通知时间适当延长)，并应当支付约定车费10％违约金给甲方；丙方如不能按照约定提供车辆，提前15-24小时书面通知甲、乙双方的，应当支付约定车费30％违约金给甲方；丙方如不能按照约定提供车辆，在15小时内书面通知甲、乙双方的，应当支付约定车费50％违约金给甲方。
    <p>    3、丙方提供的车辆低于约定要求的，实际价款由甲、丙双方协商书面确定，丙方应当减少或退还约定价款与实际价款差额；并支付约定价款10%的违约金给甲方。</p>
    <p>    4、车辆使用过程中，由于丙方责任(不可抗力除外)造成甲方延误行程或误机(车、船)，给甲方造成经济损失的，甲方免付当日车费，同时丙方应赔偿经济损失，最高赔偿金额不超过当次日均车价金额的1.5倍。 </p>
    <p>    5、由于甲方责任(不可抗力除外)造成延误行程，超出约定租车期限时间的，甲方应当支付超时部分的租车费用，费用标准由甲、丙双方协商确定；给丙方造成经济损失的，还应赔偿丙方的经济损失，最高赔偿金额不超过当次日均车价金额的1.5倍。
    <p>    6、丙方对运输过程中因责任事故造成的人身伤亡或财产损失应当依法承担赔偿责任，乙方不负任何责任。</p>
    <p>7、甲方乘客中途离开车辆时，丙方应当告知甲方乘客随身携带现金及贵重物品。因丙方过错造成车内物品（现金及贵重物品除外）丢失或损坏的，丙方应当依法承担赔偿责任，乙方不负任何责任。</p>
    <p>8、丙方（驾驶员或其他工作人员）出现严重服务质量问题，对甲方造成声誉影响，导致甲方以书面投诉并经查证属实的，由甲、丙双方协商扣减部分车费，乙方不负任何责任。</p>
    <p>   9、免除或减轻责任情况：</p>
    <p>
        	甲、丙双方因不可抗力原因不能履行协议的，不承担违约责任，但应当及时通知对方，如有必要，应当在合理期限内提供相关证明。
        	一方违约后，应积极采取措施补救并防止损失扩大，如措施得当，减轻或避免了守约方的损失，本着友好合作的原则，双方可共同协商，减免违约方违约责任和赔偿。
    </p>
    <p>10、	 如前述风险发生后，依据前述约定乙方基于三方协议的约定而先行予以甲方或丙方赔偿，或因法律、法规规定或法院、仲裁机关、行政机关的裁决被要求与甲方或者丙方任何一方承担连带赔偿责任的，在作出赔偿后有权向按本协议约定应承担责任的一方追偿。
    <p>    11、甲、乙双方在履行本合同时如发生纠纷，应本着友好合作的态度协商解决，如不能协商解决，可(1)向广州仲裁委员会提出仲裁;(2)向有管辖权的人民法院提出诉讼。</p>
    <p>本《运来出行网三方协议之违约责任暂行规定》为各方签订的《运来出行网三方协议特别提示》的补充规定。如有冲突以本暂行规定为准，且乙方具有对本暂行规定的时间效力及条款适用享有解释权。</p>



    <!--<button id="closeIframe">关闭iframe</button>
    <p><input type="button" id="aa" value="同意"/></p>-->

</body>
</html>
